html, body {
    overflow-x: hidden;
}
// Start header

.navbar {
    background-color: rgb(44, 47, 73);
}

.brand-img {
    width: 4rem;
    border-radius: 10px;
}
// End header

//Start hero Section
.hero {
    height: 50rem;
    background-image: url("/images/ash-blaze-bonfire-burn-391995.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-color: #C04000;
}

  
.hero-text {
    letter-spacing: 2px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
  
.hero-text_h2 {
    background-color: rgba(0, 0, 0, 0.36);
}
//End hero section
// Start Services section

#services {
    padding: 3rem 0;
}

.card {
    border: none;
}

.card-img-top {
    width: 100%;
}

.card-body {
    background-color: rgb(236, 236, 236);

    h3 {
        font-weight: bold;
    }
}

// End Services section
// Start About section

.about-container {
    padding: 0 3rem;
}

.about-img_container {
    padding: 0;
}

.about-img {
    width: 100%;
}

// End About section
// Start Contact section

.contact-container {
    padding: 0 1rem;
}

form {
    .btn-dark {
      color: rgb(221, 221, 1);
      margin:1rem 0;
      width: 8rem;
      font-weight: 600; 
    }
}

.form-control {
    background-color: rgba(236, 235, 235, 0.438);
    border: none;
}

textarea.form-control {
    height: 8rem;
    color: white;
}

.col-sm-4 {
    h5 {
        font-weight: bold;
        margin-top: 1rem;
    }
}

.address-container {
    padding: 0 1rem 1rem 1rem;
    margin: 0 1rem 1rem 1rem;
    background: rgba(128, 128, 128, 0.288);
}

// End Contact section
// Start roof-images section

// #roof-images {
//     p
// }

.collage {
    width: 100%;
}

// End roof-images section
// Start footer

footer {
    margin-top:3rem;
    background-color: rgba(128, 128, 128, 0.288);
}

footer.container {
    padding: 1rem 0;
    max-width: 100%;
}

div.col {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
        margin-bottom: .4rem;
    }
}

.nav-top {
    background-color: rgb(51, 51, 248);
    text-align: center;
    color: white;
    width: 2rem;
    height: 2rem;
    padding-top: .2rem;
    margin-right: 2rem;
}
// End footer
// Start Misc
.h2-text {
    letter-spacing: 2px;
    color: rgb(177, 177, 177);
    padding: 1rem 0;
    font-weight: bold;

    &::after {
        content: "";
        display: block;
        margin: 0 auto;
        width:  3rem;
        padding-top: 15px;
        border-bottom: 6px solid black;
    }
}

hr {
    width: 80%;
    margin: 3rem auto;
    height: .2rem;
}

.spacer {
    height: 5rem;
    background-color: rgb(192, 192, 192);
}


img {
    max-width: 100%;
}
  
.spaceholder {
    width: 100%;
    height: 200px;
    background: black;
}
// End Misc

@media (min-width: 40rem) {
    .about-container {
        padding: 0 10rem;
    }

    .contact-container {
        padding: 0 5rem;
    }
}